@import 'base.css';
@import "reset.scss";

:root {
  --primary-color: #3a9fff;
  --primary-light-color: #59aeff;
  --secondary-color: #e0f0fd;
  --secondary-light-color: #edf7fe;
  --primary-text-color: white;

  --default-text-color: #525f7f;

  --shadow-normal: rgba(0,0,0,.5);

  --transition-duration-slow: .5s;
  --transition-duration-default: .25s;

  --margin-giant: 1.5rem;
  --margin-large: 1.25rem;
  --margin-normal: 1rem;
  --margin-lite: .75rem;
  --margin-tiny: .5rem;

  --padding-giant: 2rem;
  --padding-large: 1.5rem;
  --padding-normal: 1rem;
  --padding-lite: .75rem;
  --padding-tiny: .5rem;

  --radius-giant: 1rem;
  --radius-large: .75rem;
  --radius-normal: .5rem;
  --radius-lite: .375rem;
  --radius-tiny: .25rem;
}

html, body {
  background: var(--secondary-color);
}

* {
  transition-duration: var(--transition-duration-default);
}

@media screen and (max-width: 420px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 420px) and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}